<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      Expenses
    </div>
    <button ion-button class="nav_btn floatRight" (click)="addnewexpense()">
      new&nbsp;<strong>+</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="tryment_new_branch">
    <ul>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}">
          <div class="child4 floatLeft borderside">
		         <h5>Business name</h5>
             <p><strong>20,000000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>June 11 2016</h6>
            <p>Reported on</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(0)">
          <textarea class="tryment_text_area" rows="4" placeholder="Note">
          </textarea>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Edit</button>
            <button ion-button class="tryment_delete_btn">Delete</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
          <div class="child4 floatLeft borderside">
		         <h5>ID23</h5>
             <p><strong>10,000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>Approval status</h6>
            <p>June 11 2016</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(1)">
          <textarea class="tryment_text_area" rows="4" placeholder="Note">
          </textarea>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Edit</button>
            <button ion-button class="tryment_delete_btn">Delete</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
          <div class="child4 floatLeft borderside">
		         <h5>ID23</h5>
             <p><strong>10,000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>Approval status</h6>
            <p>June 11 2016</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(2)">
          <textarea class="tryment_text_area" rows="4" placeholder="Note">
          </textarea>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Edit</button>
            <button ion-button class="tryment_delete_btn">Delete</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}">
          <div class="child4 floatLeft borderside">
		         <h5>ID23</h5>
             <p><strong>10,000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>Approval status</h6>
            <p>June 11 2016</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(3)">
          <textarea class="tryment_text_area" rows="4" placeholder="Note">
          </textarea>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Edit</button>
            <button ion-button class="tryment_delete_btn">Delete</button>
          </div>
        </div>
      </li>

    </ul>
  </div>
</ion-content>
