<ion-content padding class="themelogin_background">
  <div class="tryment_login_center">
    <div class="tryment_row textCenter">
    <h5>Login</h5>
    <hr>
    </div>
    <div class="tryment_row">
        <input class ="tryment_sign_input textCenter tryment_user" placeholder="Username">
    </div>
    <div class="tryment_row">
        <input class ="tryment_sign_input textCenter tryment_password" placeholder="Password">
    </div>
    <div class="tryment_row">
      <div class="tryment_check">
      <input class="tryment_checkbox" id="tryment_label" type="checkbox" value="value2" checked>
      <label for="tryment_label"></label>
      <p>Remember me</p>
        <div class="clear"></div>
      </div>
    </div>
    <div class="tryment_row textCenter">
      <button ion-button class="tryment_login_button" (click)="home()">Login</button>
    </div>
    <div class="tryment_row textCenter">
      <div class="tryment_check">
        <p (click)="forgot()">Forgot Password</p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="tryment_row textCenter">
    <div class="tryment_social">
      <ul>
        <li><img src="assets/img/facebook.png"></li>
        <li><img src="assets/img/gmail.png"></li>
        <li><img src="assets/img/linkedin.png"></li>
      </ul>
    </div>
    <div class="tryment_check">
      <p class="textWhite">New to tryment ?<strong (click)="register()">&nbsp;Register here</strong></p>
    </div>
  </div>
</ion-footer>
