<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      Gold
    </div>
    <button class="nav_btn floatRight">
      help&nbsp;<strong>?</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_sign_wrap">
    <div class="tryment_sign_form">
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input tryment_daily_user" placeholder="User">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span><img src="assets/img/click_arrow.png"></span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Loan Amount">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Interest Rate">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Processing Charges">
      </div>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input" placeholder="Installment Amount">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span><img src="assets/img/calculator.png"></span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="No.of Grams">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Rate per Gram">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Term">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Disbursement Date">
      </div>
      <br>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input" placeholder="Attachment(s)">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span>+</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
        <select class ="tryment_sign_input tryment_select_drop">
          <option>Attachement Type</option>
        </select>
      </div>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-8 class="p0">
            <input class ="tryment_sign_input" placeholder="Video Recording">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn themelight"><span><img src="assets/img/video.png"></span></div>
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span>+</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6><button ion-button class="tryment_daily_btn"><span><img src="assets/img/view.png"></span><span>View</span></button></ion-col>
            <ion-col col-6><button ion-button class="tryment_daily_btn"><span><img src="assets/img/done.png"></span><span>Done</span></button></ion-col>
          </ion-row>
          <ion-row class="p0">
            <ion-col col-6><button ion-button class="tryment_daily_btn"><span><img src="assets/img/cancel.png"></span><span>Cancel</span></button></ion-col>
            <ion-col col-6><button ion-button class="tryment_daily_btn"><span><img src="assets/img/print.png"></span><span>Print</span></button></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
