<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
    New User
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_sign_form">
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="Aadhar Number">
    </div>
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="PAN Number">
    </div>
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="First Name">
    </div>
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="Last Name">
    </div>
    <div class="tryment_row">
      <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
         <ion-datetime placeholder="Date of Birth"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
       </ion-item>
    </div>
    <div class="tryment_row">
      <div class="tryment_gender">
        <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Male</strong>
      </div>
      <div class="tryment_gender">
        <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Female</strong>
      </div>
      <div class="clear"></div>
    </div>
    <div class="tryment_row">
    <ion-grid class="p0">
      <ion-row class="p0">
        <ion-col col-10 class="p0">
          <input class ="tryment_sign_input" placeholder="Mobile number">
        </ion-col>
        <ion-col col-2 class="p0">
          <div class="tryment_add_btn"><span>+</span></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
    <div class="tryment_row">
    <ion-grid class="p0">
      <ion-row class="p0">
        <ion-col col-10 class="p0">
          <input class ="tryment_sign_input" placeholder="Email">
        </ion-col>
        <ion-col col-2 class="p0">
          <div class="tryment_add_btn"><span>+</span></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
    <div class="tryment_row">
    <ion-row class="p0">
      <ion-col col-12><button ion-button class="tryment_daily_btn"><span><img src="assets/img/create.png"></span><span>Create</span></button></ion-col>
    </ion-row>
    </div>
  </div>
</ion-content>
