<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      New branch
    </div>
    <button ion-button class="nav_btn floatRight" (click)="addnewbranch()">
      new&nbsp;<strong>+</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="tryment_new_branch">
    <ul>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Loan type</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;MBVW</p>
          </div>
          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(0)">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Line</button>
            <button ion-button class="tryment_topup_btn" (click)="topup()">Topup</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Loan type</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;MBVW</p>
          </div>
          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(1)">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Line</button>
            <button ion-button class="tryment_topup_btn" (click)="topup()">Topup</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Loan type</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;MBVW</p>
          </div>
          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(2)">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Line</button>
            <button ion-button class="tryment_topup_btn" (click)="topup()">Topup</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Loan type</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;MBVW</p>
          </div>
          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(3)">
          <div class="child1 floatLeft">
            <p>Branch Name</p>
            <p>Short Name</p>
            <p>Short Name</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th june 2017</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn">Line</button>
            <button ion-button class="tryment_topup_btn" (click)="topup()">Topup</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
