<ion-content  class="tryment_popup_bg">
  <div class="tryment_salary_filter" (click)="dismiss()">
    <div class="tryment_salary_filter_body">
      <div class="tryment_sign_form p0">
        <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l1.png"></span>
              <p>Loan</p>
                <div class="clear"></div>
              </div>
            </ion-col>
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l2.png"></span>
              <p>Loan Dues</p>
                <div class="clear"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
        <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l3.png"></span>
              <p>Loan Approval</p>
                <div class="clear"></div>
              </div>
            </ion-col>
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l4.png"></span>
              <p>New Agent</p>
                <div class="clear"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
        <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l1.png"></span>
              <p>Loan</p>
                <div class="clear"></div>
              </div>
            </ion-col>
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l2.png"></span>
              <p>Loan Dues</p>
                <div class="clear"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
        <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l3.png"></span>
              <p>Loan Approval</p>
                <div class="clear"></div>
              </div>
            </ion-col>
            <ion-col col-6 class="p0">
              <div class="tryment_check ">
                <span><img src="assets/img/l4.png"></span>
              <p>New Agent</p>
                <div class="clear"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
    </div>
    </div>
  </div>
</ion-content>
