<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_menu floatLeft" menuToggle></button>
    <div class="nav_header_title floatLeft">
      Report
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_report_wrap">
    <h4>Filter option</h4>
    <div class="tryment_report_tab">
      <ul>
        <li (click)="radio_tab(1)" [class.active]="radio_type== 1">Date Range</li>
        <li (click)="radio_tab(2)" [class.active]="radio_type== 2">Financial year</li>
        <li (click)="radio_tab(3)" [class.active]="radio_type== 3">Month Wise</li>
      </ul>
    </div>
    <hr>
    <div class="tryment_report_tab_content">
      <div id="" [hidden]="radio_type != 1">
          <div class="tryment_sign_form">
            <div class="tryment_row">
              <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
                 <ion-datetime placeholder="Start Date"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
               </ion-item>
            </div>
            <div class="tryment_row">
              <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
                 <ion-datetime placeholder="End Date"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
               </ion-item>
            </div>
            <div class="tryment_row">
              <select class ="tryment_sign_input tryment_select_drop">
                <option>Report Type</option>
              </select>
            </div>
            <div class="tryment_row">
              <select class ="tryment_sign_input tryment_select_drop">
                <option>File Type</option>
              </select>
            </div>
            <div class="tryment_row">
            <ion-row class="p0">
              <ion-col col-12><button ion-button class="tryment_daily_btn"><span><img src="assets/img/download.png"></span><span>Download</span></button></ion-col>
            </ion-row>
            </div>
          </div>
      </div>
      <div id="" [hidden]="radio_type != 2">
        <div class="tryment_sign_form">
        <div class="tryment_row">
          <div class="tryment_period">
            <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>July 2016 - June 2017</strong>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_row">
          <div class="tryment_period">
            <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>July 2015 - June 2016</strong>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_row">
          <div class="tryment_period">
            <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>July 2014 - June 2015</strong>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_row">
          <select class ="tryment_sign_input tryment_select_drop">
            <option>Report Type</option>
          </select>
        </div>
        <div class="tryment_row">
          <select class ="tryment_sign_input tryment_select_drop">
            <option>File Type</option>
          </select>
        </div>
        <div class="tryment_row">
        <ion-row class="p0">
          <ion-col col-12><button ion-button class="tryment_daily_btn"><span><img src="assets/img/download.png"></span><span>Download</span></button></ion-col>
        </ion-row>
        </div>
      </div>
      </div>
      <div id="" [hidden]="radio_type != 3">
        <div class="tryment_sign_form">
        <div class="tryment_sign_form">
          <div class="tryment_row">
            <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
               <ion-datetime placeholder="Start Date"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
             </ion-item>
          </div>
          <div class="tryment_row">
            <select class ="tryment_sign_input tryment_select_drop">
              <option>Report Type</option>
            </select>
          </div>
          <div class="tryment_row">
            <select class ="tryment_sign_input tryment_select_drop">
              <option>File Type</option>
            </select>
          </div>
          <div class="tryment_row">
          <ion-row class="p0">
            <ion-col col-12><button ion-button class="tryment_daily_btn"><span><img src="assets/img/download.png"></span><span>Download</span></button></ion-col>
          </ion-row>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

</ion-content>
