<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      Top up
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_sign_form">
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Business</option>
      </select>
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Branch</option>
      </select>
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Line</option>
      </select>
    </div>
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="Amount">
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Amount Type</option>
      </select>
    </div>
    <div class="tryment_row">
        <textarea class ="tryment_sign_input" style="height: 120px !important;" placeholder="Comment" rows="4">
        </textarea>
    </div>
    <div class="tryment_row">
    <ion-row class="p0">
      <ion-col col-12><button ion-button class="tryment_daily_btn"><span><img src="assets/img/add.png"></span><span>Add</span></button></ion-col>
    </ion-row>
    </div>
  </div>

</ion-content>
