<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      Loan Detail
    </div>
    <button class="nav_btn floatRight" (click)="loandetailpopover($event)">
      new&nbsp;<strong>+</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_loan_detail">
    <ul>
      <li>
        <div class="child1">Loan Type</div>
        <div class="child2">Daily</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Branch Name</div>
        <div class="child2">MVP</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Line ID</div>
        <div class="child2">KKKJ47</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Loan ID</div>
        <div class="child2">969K78</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Loan Amount</div>
        <div class="child2">20000</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Interest Rate</div>
        <div class="child2">10%</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Down Payment</div>
        <div class="child2">5000</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Processing Fee</div>
        <div class="child2">0.00</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Payment Amount</div>
        <div class="child2">20000</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Installment Amount</div>
        <div class="child2">10000</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">No of Days</div>
        <div class="child2">30 Days</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Days Paid</div>
        <div class="child2">12</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Days Left</div>
        <div class="child2">18</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Due Date</div>
        <div class="child2">18th July 2017</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Approval Status</div>
        <div class="child2">Pending</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Catagory</div>
        <div class="child2">transfer</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Settlement Amount</div>
        <div class="child2">2000</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Settlement Reason</div>
        <div class="child2">Urgent need of money</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Prev loan id</div>
        <div class="child2">34FH86686242424</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Due Amount</div>
        <div class="child2">20000</div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="child1">Loan Isssued By</div>
        <div class="child2">Branch</div>
        <div class="clear"></div>
      </li>
      <div class="tryment_row">
      <ion-row class="p0">
        <ion-col col-12><button ion-button class="tryment_daily_btn"><span><img src="assets/img/pay.png"></span><span>Pay</span></button></ion-col>
      </ion-row>
      </div>

    </ul>
  </div>
</ion-content>
