<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_menu floatLeft" menuToggle></button>
    <div class="nav_header_title floatLeft">
      My loans
    </div>
    <button ion-button class="nav_btn floatRight" (click)="request()">
      new&nbsp;<strong>+</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="tryment_new_branch">
    <ul>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}">
          <div class="child4 floatLeft borderside">
		         <h5>ID23</h5>
             <p><strong>10,000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>Approval status</h6>
            <p>June 11 2016</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(0)">
          <div class="child1 floatLeft">
            <p>Total Amount</p>
            <p>Loan Type</p>
            <p>Due Amount</p>
            <p>Next Due on</p>
            <p>Interest Rate</p>
            <p>Issued by</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;100,000</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Monthly</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;5648</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th July 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;12%</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Branch</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Address</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Email</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Mobile Number</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn" (click)="loandetail()">Pay now</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
          <div class="child4 floatLeft borderside">
		         <h5>ID23</h5>
             <p><strong>10,000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>Approval status</h6>
            <p>June 11 2016</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(1)">
          <div class="child1 floatLeft">
            <p>Total Amount</p>
            <p>Loan Type</p>
            <p>Due Amount</p>
            <p>Next Due on</p>
            <p>Interest Rate</p>
            <p>Issued by</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;100,000</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Monthly</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;5648</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th July 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;12%</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Branch</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Address</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Email</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Mobile Number</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn" (click)="loandetail()">Pay now</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
          <div class="child4 floatLeft borderside">
		         <h5>ID23</h5>
             <p><strong>10,000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>Approval status</h6>
            <p>June 11 2016</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(2)">
          <div class="child1 floatLeft">
            <p>Total Amount</p>
            <p>Loan Type</p>
            <p>Due Amount</p>
            <p>Next Due on</p>
            <p>Interest Rate</p>
            <p>Issued by</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;100,000</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Monthly</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;5648</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th July 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;12%</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Branch</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Address</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Email</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Mobile Number</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn" (click)="loandetail()">Pay now</button>
          </div>
        </div>
      </li>
      <li>
        <div class="tryment_branch_overview" (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}">
          <div class="child4 floatLeft borderside">
		         <h5>ID23</h5>
             <p><strong>10,000</strong></p>
          </div>
          <div class="child4 floatLeft">
            <h6>Approval status</h6>
            <p>June 11 2016</p>
          </div>

          <div class="child3 floatRight">
            <div class="tryment_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="tryment_branch_details" *ngIf="isGroupShown(3)">
          <div class="child1 floatLeft">
            <p>Total Amount</p>
            <p>Loan Type</p>
            <p>Due Amount</p>
            <p>Next Due on</p>
            <p>Interest Rate</p>
            <p>Issued by</p>
          </div>
          <div class="child2 floatLeft">
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;100,000</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Monthly</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;5648</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;10th July 2017</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;12%</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Branch</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Address</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Email</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;Mobile Number</p>
          </div>
          <div class="clear"></div>
          <div class="tryment_branch_details_btn_bay">
            <button ion-button class="tryment_line_btn" (click)="loandetail()">Pay now</button>
          </div>
        </div>
      </li>

    </ul>
  </div>
</ion-content>
