<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_menu floatLeft" menuToggle></button>
    <div class="nav_header_title floatLeft">
      Profile
    </div>
    <button ion-button class="nav_btn floatRight">
      help&nbsp;<strong>?</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_sign_wrap">
    <div class="tryment_reg_banner">
      <div class="tryment_profile_picture">
        <div class="tryment_prof_pic_edit"></div>
      </div>
      <p>Ann Alexander</p>
    </div>
    <div class="tryment_sign_form">
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="First Name*">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Last Name*">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Aadhar Number">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="PAN Number">
      </div>
      <div class="tryment_row">
        <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
           <ion-datetime placeholder="Date of Birth"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
         </ion-item>
      </div>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input" placeholder="Email">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span>+</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input" placeholder="Mobile Number">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span>+</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input" placeholder="Emergency Contact Number">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span>+</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Male</strong>
        </div>
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Female</strong>
        </div>
        <div class="clear"></div>
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="User Name">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Old Password">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="New Password">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Confirm New Password">
      </div>
      <div class="tryment_row">
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Single</strong>
        </div>
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'B'"></ion-radio><strong>Married</strong>
        </div>
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'c'"></ion-radio><strong>Divorse</strong>
        </div>
        <div class="clear"></div>
      </div>
      <div class="tryment_row">
        <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
           <ion-datetime placeholder="Marriage Date"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
         </ion-item>
      </div>
      <div class="tryment_row">
      <h4 class="m0 textThemedblue">BANK DETAILS</h4>
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Account Holder Name">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Account Number">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="IFSC Code">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Branch Name">
      </div>
      <div class="tryment_row">
        <select class ="tryment_sign_input tryment_select_drop">
          <option>Status</option>
        </select>
      </div>
      <div class="tryment_row">
        <button ion-button class="tryment_register_button">Save</button>
      </div>

    </div>
  </div>

</ion-content>
