<ion-content  class="tryment_popup_bg">
  <div class="tryment_salary_filter" (click)="dismiss()">
    <div class="tryment_salary_filter_body">
      <div class="tryment_sign_form">
      <div class="tryment_row">
        <select class ="tryment_sign_input tryment_select_drop">
          <option>Select Business</option>
        </select>
      </div>
      <div class="tryment_row">
        <select class ="tryment_sign_input tryment_select_drop">
          <option>Select Branch</option>
        </select>
      </div>
      <div class="tryment_row">
        <select class ="tryment_sign_input tryment_select_drop">
          <option>Select line</option>
        </select>
      </div>
    </div>
    </div>
  </div>
</ion-content>
