<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_menu floatLeft" menuToggle></button>
    <div class="nav_header_title floatLeft">
      Track Defaulters
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="tryment_business_listing">
    <ul>
      <li class="tryment_location" (click)="trackermap()">
        <div class="tryment_list_circle">
          <img src="assets/img/pic1.png">
        </div>
        <div class="tryment_list_details relative top10">
          <h5>Mishel Marcus</h5>
          <h6>10,0000</h6>
        </div>
        <div class="tryment_list_duration relative top10">
          <h5>0989653269</h5>
          <p>June 21-2017</p>
        </div>
        <div class="clear"></div>
      </li>

    </ul>
  </div>

</ion-content>
