<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      New Business
    </div>
    <button ion-button class="nav_btn floatRight" (click)="addbusiness()">
      new&nbsp;<strong>+</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="tryment_business_listing">
    <ul>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="tryment_list_circle">
        </div>
        <div class="tryment_list_details width75">
          <h5>Business name</h5>
          <ul>
            <li>
              <div class="child1">Short Name</div>
              <div class="child2">MWERD</div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="child1">Started on</div>
              <div class="child2">June-01-2017</div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>

</ion-content>
