<ion-content  class="tryment_popup_bg">
  <div class="tryment_popup_wrapper">
    <div class="tryment_popup_body">
      <h4>Transfer</h4>
      <ul>
        <li>
          <div class="child1">Loan ID</div>
          <div class="child2">RTY24567</div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="child1">Due Amount</div>
          <div class="child2">5000</div>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="tryment_popup_btn_bay">
        <ion-row class="p0">
          <ion-col col-6><button ion-button class="tryment_delete_btn width100" (click)="dismiss()">Cancel</button></ion-col>
          <ion-col col-6><button ion-button class="tryment_line_btn width100" (click)="dismiss()">Proceed</button></ion-col>
        </ion-row>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</ion-content>
