/*HOME*/

.tryment_select_business{width:100%;height:40px;border-radius:20px;}
.tryment_select_input{width:100%;height:100%;background: transparent;border-radius:20px;color: #fff;border:none;padding-left:35px;padding-right:10px;font-size:16px;font-weight:300;-webkit-appearance: none;-moz-appearance:none;background:url("../assets/img/drop_down_arrow.png");background-repeat: no-repeat;
background-position: right;background-size: 60px;letter-spacing: 3px;}
.nav_top_header{}
.nav_bottom_header{padding:10px;padding-top:0px;padding-bottom: 0px;height: 25px;}
.tryment_home_main{width:100%;}
.tryment_main_listing{width:100%;}
.tryment_main_listing ul{width:100%;margin:0px;padding:0px;padding-top:20px;}
.tryment_main_listing ul li{width:32.5%;display: inline-block;text-align: center;padding-bottom: 15px;text-align: center;}
.tryment_inner_circle{width:80px;height:80px;border-radius:50%;background: #ececec;margin: 0 auto;padding:20px;}
.tryment_inner_circle img{height:40px;width:auto;}
.tryment_main_listing ul li p{text-align: center;width:100%;color: #828282;font-size: 16px;font-weight: 300;}
.tryment_footer{width:100%;background:#2b4b65;}
.tryment_footer ul{margin:0px;padding:0px;width:100%;height:100%;}
.tryment_footer ul li{padding:10px;width:80px;border:1px solid #fff;float: left;height:100%;list-style: none;text-align: center;border-top: none;}
.tryment_footer ul li img{height:30px;}
.tryment_footer ul li p{width:100%;text-align: center;color: #fff;font-size: 12px;font-weight: 300;}
.health130{height:95px !important;}

/*REGISTER*/

.tryment_sign_wrap{width:100%;}
.tryment_reg_banner{width:100%;text-align: center;padding: 15px;}
.tryment_reg_banner h3{width:100%;text-align: center;color: #2b4b65;font-size: 24px;}
.tryment_reg_banner p{width:100%;text-align: center;color: #898b8d;margin: 0px;font-size: 17px;font-weight: 300;}
.tryment_sign_form{width:100%;padding-top: 20px;}
.tryment_row{width:100%;padding-bottom:15px;position: relative;}
.tryment_sign_input{width: 100%;height:40px;background-color:#e5e6e7 !important;border-radius:20px;border:none;padding-left:20px;padding-right:20px;font-size: 16px;color: #9a9b9b;}
.tryment_sign_input::-webkit-input-placeholder {color: #9a9b9b;font-weight: 300;}
.tryment_gender{float: left;color: #2b4b65;font-size: 18px;padding-right: 20px;padding-top:5px;padding-bottom: 5px;}
.tryment_gender strong{padding-left:10px;}
.tryment_gender .radio-icon{width:20px;height:20px;border-color: #0e76bc !important;position: relative;top: 3px;}
.tryment_gender  .radio-inner{width:12px;height:12px;background: url("../assets/img/radio.png");background-position: center;background-size:cover;}
.tryment_add_btn{width:40px;height:40px;border-radius:50%;border:2px solid #25aae1;margin:0 auto;font-size: 30px;color:#25aae1;font-weight: 300;text-align: center;}
.tryment_add_btn span{position: relative;bottom:1px;}
.tryment_close_btn{width:40px;height:40px;border-radius:50%;border:2px solid #fcd356;margin:0 auto;font-size: 30px;color:#fcd356;font-weight: 300;text-align: center;}
.tryment_close_btn span{position: relative;bottom:4px;}
.tryment_pin{position: absolute;top:15px;right:15px;}
.tryment_pin img{width:150px;}
.tryment_register_button{height:40px;width:100%;border-radius:20px;background: #2b4b65;color: #fff;font-size: 16px;letter-spacing: 2px;text-transform: capitalize;}
.tryment_calender{background:url("../assets/img/calender.png");background-position: top -5px right 5px;background-repeat: no-repeat;background-size: 50px;}
.tryment_checkbox {position: absolute;opacity: 0;
& + label {position: relative;cursor: pointer;padding: 0;}
& + label:before {content: '';margin-right: 10px;display: inline-block;vertical-align: text-top;width: 20px;height: 20px;background: #bde5f6;border:1px solid #25aae1;border-radius:4px;float: left;color: #2b4b65;}
&:hover + label:before {background: #bde5f6;}
&:focus + label:before {box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);}
&:checked + label:before {background: #bde5f6;border:1px solid #25aae1;}
&:disabled + label {color: #b8b8b8;cursor: auto;}
&:disabled + label:before {box-shadow: none;background: #ddd;}
&:checked + label:after {content: '';position: absolute;left:-26px;top: 10px;background: white;width: 2px;height: 2px;box-shadow:2px 0 0 white,4px 0 0 white,4px -2px 0 white,4px -4px 0 white,4px -6px 0 white,4px -8px 0 white;transform: rotate(45deg);color: #2b4b65;}
}
.tryment_check{width:100%;}
.tryment_check p{color: #676767;font-size: 16px;}

/*LOGIN*/

.tryment_login_center{width:270px;margin:0 auto;position: relative;top: 10%;}
.tryment_login_center h5{color: #fff;font-weight: bold;font-size: 20px;}
.tryment_login_center hr{border:2px solid #019be1;width:40px;height:0px;border-radius:8px;}
.tryment_user{background:url("../assets/img/user.png");background-position: top -5px left 20px;background-repeat: no-repeat;background-size: 50px;padding-left:60px;padding-right:60px;}
.tryment_password{background:url("../assets/img/password.png");background-position: top -5px left 20px;background-repeat: no-repeat;background-size: 50px;padding-left:60px;padding-right:60px;}
.tryment_login_center .tryment_check{width:140px;margin:0 auto;}
.tryment_login_center .tryment_check p{color: #fff;font-size: 16px;font-weight: 300;}
.tryment_login_center .tryment_checkbox {position: absolute;opacity: 0;
& + label {position: relative;cursor: pointer;padding: 0;}
& + label:before {content: '';margin-right: 10px;display: inline-block;vertical-align: text-top;width:15px;height: 15px;background: #bde5f6;border:1px solid #fff;border-radius:4px;float: left;color: #2b4b65;}
&:hover + label:before {background: #437fad;}
&:focus + label:before {box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);}
&:checked + label:before {background: #437fad;border:1px solid #fff;}
&:disabled + label {color: #b8b8b8;cursor: auto;}
&:disabled + label:before {box-shadow: none;background: #ddd;}
&:checked + label:after {content: '';position: absolute;left:-24px;top:8px;background: white;width: 2px;height: 2px;box-shadow:2px 0 0 white,4px 0 0 white,4px -2px 0 white,4px -4px 0 white,4px -6px 0 white,4px -8px 0 white;transform: rotate(45deg);color: #2b4b65;}
}
.tryment_login_button{height:40px;padding-left:50px;padding-right:50px;margin:0 auto;border-radius:20px;background: #019be1;color: #fff;font-size: 16px;letter-spacing: 2px;text-transform: capitalize;}
.tryment_social{width:100%;}
.tryment_social ul{margin:0px;padding:0px;width:100%;text-align: center;}
.tryment_social ul li{display: inline-block;width:30px;height:30px;border-radius:50%;margin: 2px;list-style: none;background: #1e86be;text-align:center;}
.tryment_social ul li img{}

/*FORGOT*/

.tryment_aadhar{background:url("../assets/img/aadhar.png");background-position: top -5px left 20px;background-repeat: no-repeat;background-size: 50px;padding-left:60px;padding-right:60px;}

/*NEW-BUSINESS*/

.tryment_business_listing{width:100%;}
.tryment_business_listing ul{width:100%;padding:5px;}
.tryment_business_listing ul li{list-style: none;width:100%;background-color: #f3f3f3 !important;margin-bottom:10px;background:url("../assets/img/forward.png");padding-left:10px;background-repeat: no-repeat;background-position: right;background-size: 50px;padding-top:15px;padding-bottom:15px;border-right:4px solid #e1e1e1;padding-right:20px;}
.tryment_list_circle{width:60px;height:60px;border-radius:50%;background:#d3d3d3;float: left;position: relative;top:0px;}
.tryment_list_circle img{width:100%;height: 100%;border-radius:50%;object-position: center;object-fit: cover;}
.tryment_list_details{float: left;padding-left: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:45%;}
.tryment_list_details h5{color: #154468;margin-top:0px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 15px;}
.tryment_list_details ul{padding:0px;width:100%;}
.tryment_list_details ul li{width:100%;background: none !important;margin:0px;padding:0px;font-size: 14px;border-right:0px;}
.tryment_list_details ul li .child1{width:40%;float: left;color: #346fa2;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_list_details ul li .child2{width:60%;float: left;color: #666666;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/*ADD-BUSINESS*/

.tryment_file{background:url("../assets/img/file.png");background-position: top -5px right 5px;background-repeat: no-repeat;background-size: 50px;}

/*NEW-LOAN*/

.tryment_search_div{width:100%;padding-bottom:20px;}
.tryment_search_input{width:100%;background-color: transparent;height:35px;border:none;text-align: center;border-bottom: 1px solid #c1d4e2;color:#fff;background:url("../assets/img/search_icon.png");background-repeat: no-repeat !important;background-position: center !important;background-position: center left 25% !important;
    background-size: 55px;}
.tryment_search_input:focus{background: none !important;}
.tryment_search_input::-webkit-input-placeholder {color: #c1d4e2;font-weight: 300;font-size:20px;background:url("../assets/img/search_icon.png");}
.tryment_list_details h6{color: #666666;margin-top:0px;font-size: 15px;}
.tryment_list_duration{float:left;text-align: right;}
.tryment_list_duration h5{color: #17629b;margin-top:0px;font-size: 15px;}
.tryment_list_duration p{color: #666666;font-size: 15px;margin: 0px;}

/*POPOVER*/

.tryment_popover_div{background: #fafafa;}
.tryment_popover_div ul{padding:0px;}
.tryment_popover_div ul li{list-style: none;color:#777777;font-size: 15px;padding: 8px;padding-left: 15px;font-weight: 500;}

/*DAILY*/

.tryment_daily_user{background:url("../assets/img/user.png");background-position: 10px;background-repeat: no-repeat;background-size: 50px;padding-left: 60px;}
.tryment_add_btn span img{width:100%;height:100%;object-fit: cover;object-position: center;position: relative;top: 2px;}
.tryment_select_drop{-webkit-appearance: none;-moz-appearance: none;background: url(../assets/img/drop_down_arrow_dark.png);background-repeat: no-repeat;background-position: right;background-size: 60px;}
.tryment_daily_btn{height:40px;width:100%;background:#2b4b65;color: #fff;font-weight: 600;border-radius:20px;letter-spacing: 3px;margin: 3px;}
.tryment_daily_btn span img{width:50px;position: relative;}
.tryment_daily_btn span{position: relative;left: -10px;text-transform: capitalize;}

/*PROFILE*/

.tryment_profile_picture{width:80px;height:80px;border-radius:50%;background: url("../assets/img/profile.png");background-repeat: no-repeat;background-position: center;margin:0 auto;margin-bottom:10px;background-size: cover;position: relative;}
.tryment_profile_picture img{width: 100%;height:100%;border-radius:50%;object-fit:cover;object-position: center;}
.tryment_prof_pic_edit{position: absolute;top:0px;right:0px;width:30px;height:30px;border-radius:50%;background: url("../assets/img/edit.png");background-repeat: no-repeat;background-position: center; background-size: 130%;}

/*REPORT*/

.tryment_report_wrap{width:100%;padding:5px;}
.tryment_report_wrap h4{margin:0px;color: #1d75bd;}
.tryment_report_tab{width:100%;}
.tryment_report_tab ul{margin:0px;padding:0px;padding-top:10px;padding-bottom: 10px;}
.tryment_report_tab ul li{width:100%;list-style: none;color:#2b4b65;font-size: 17px;font-weight: 500;padding:0px;padding-left: 30px;background: url("../assets/img/report_tab.png");background-repeat: no-repeat;background-position: left -13px top -5px !important;background-size: 45px;padding-top:8px;padding-bottom:8px;}
.tryment_report_tab ul .active{background: url("../assets/img/report_tab_active.png") !important;background-repeat: no-repeat !important;background-position: left -13px top -5px !important;background-size: 45px !important;}
.tryment_period{float: left;color: #a3a3a3;font-size: 18px;padding-right: 20px;padding-top:5px;padding-bottom: 5px;}
.tryment_period strong{padding-left:10px;color: #a3a3a3;font-weight: 400;}
.tryment_period .radio-icon{width:20px;height:20px;border-color: #a3a3a3 !important;position: relative;top: 3px;}
.tryment_period  .radio-inner{width:12px;height:12px;background: url("../assets/img/radio1.png");background-position: center;}

/*NEW-BRANCH*/

.tryment_new_branch{width:100%;padding: 10px;}
.tryment_new_branch ul{width:100%;padding:0px;margin:0px;}
.tryment_new_branch ul li{margin-bottom:10px;list-style: none;}
.tryment_branch_overview{background: #ededed;width:100%;padding: 12px;transition: 0.2s linear;border-right:3px solid #e1e1e1;position: relative;}
.tryment_branch_overview .child1{width:50%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_branch_overview .child1 p{margin:0px;color: #154468;font-size: 16px;font-weight: 500;padding-bottom: 5px;}
.tryment_branch_overview .child2 p{margin:0px;color: #666666;font-size: 16px;font-weight: 400;padding-bottom: 5px;}
.tryment_branch_overview .child2{width:40%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_branch_overview .child3{width:10%;height: 100%;}
.tryment_branch_overview .child4{width:45%;height: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 15px;}
.borderside{border-right:1px solid #d3d3d3;}
.tryment_branch_overview .child4 h6{margin:0px;color: #17629b;font-size: 16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_branch_overview .child4 h5{margin:0px;color: #154468;font-size: 16px;    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_branch_overview .child4 p{margin:0px;font-size: 14px;color: #666666;padding-top:10px;    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_collpase_btn{width:100%;height:50px;background: url("../assets/img/forward.png");background-position: center;background-repeat: no-repeat;background-size: 40px;}
.tryment_new_branch ul li .active{border-right:3px solid #25aae1;}
.tryment_new_branch ul li .active .tryment_collpase_btn{width:100%;height:50px;background: url("../assets/img/drop_down_blue.png");background-position: center;background-repeat: no-repeat;background-size: 40px;}
.tryment_branch_details{background: #f3f3f3;width:100%;margin-top:10px;padding: 12px;padding-top:18px;transition: 0.2s linear;}
.tryment_branch_details .child1{width:40%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_branch_details .child1 p{margin:0px;color: #17629b;font-size: 16px;font-weight: 400;padding-bottom: 10px;}
.tryment_branch_details .child2 p{margin:0px;color: #666666;font-size: 16px;font-weight: 300;padding-bottom: 10px;}
.tryment_branch_details .child2{width:50%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_branch_details_btn_bay{padding-top:10px;padding-bottom:10px;}
.tryment_line_btn{height:30px;padding-left:15px;padding-right:15px;border-radius:20px;text-transform:capitalize;color: #fff;background: #2b4b65;letter-spacing: 3px;font-size: 14px;}
.tryment_topup_btn{height:30px;padding-left:15px;padding-right:15px;border-radius:20px;text-transform: capitalize;color: #fff;background: #25aae1;letter-spacing: 3px;font-size: 14px;}
.tryment_delete_btn{height:30px;padding-left:15px;padding-right:15px;border-radius:20px;text-transform:capitalize;color: #fff;background: #ffc000;letter-spacing: 3px;font-size: 14px;}
.tryment_text_area{width:100%;border:none;background: #fff;border-radius:8px;}

/*LOAN-REQUEST-DETAIL*/

.tryment_request_wrap p{margin:0px;color: #17629b;padding-bottom:10px;font-weight:500;font-size: 15px;}
.tryment_request_wrap .tryment_row{padding-bottom:0px !important;}
.tryment_deny_btn{height: 40px;width: 100%;background: #ffc000;color: #fff;font-weight: 600;  border-radius: 20px;letter-spacing: 3px;margin: 3px;}
.tryment_deny_btn span {position: relative;  left: -10px;text-transform: capitalize;}
.tryment_deny_btn span img {width: 50px;position: relative;}
.tryment_loan_detail{width:100%;}
.tryment_loan_detail ul{padding:0px;margin:0px;}
.tryment_loan_detail ul li{width:100%;padding:0px;list-style: none;padding-bottom: 10px;}
.tryment_loan_detail ul li .child1{width:50%;float: left;color: #154468;text-align: left;font-size: 16px;font-weight:500;}
.tryment_loan_detail ul li .child2{width:50%;float: right;color: #757779;text-align: right;font-size: 16px;font-weight:500;}

/*POPUP*/

.tryment_popup_wrapper{width:100%;}
.tryment_popup_body{width:300px;margin:0 auto;background: #fafafa;border-radius:20px;padding:20px;position: relative;top:150px;}
.tryment_popup_body h4{text-align: center;color: #2b4b65;margin:0px;padding-top:5px;padding-bottom: 10px;}
.tryment_popup_body p{text-align: center;color: #727b82;margin: 0px;padding-top: 5px;padding-bottom: 5px;font-size: 16px;}
.tryment_popup_input{width:100%;background:#e6e6e7;border-radius:15px;height: 30px;border:none;margin-bottom:10px;padding-left:15px;}
.tryment_popup_textarea{width:100%;background:#e6e6e7;border-radius:10px;border:none;margin-bottom:10px;padding-left:15px;}
.tryment_popup_body ul{margin:0px;padding:0px;padding-top: 10px;padding-bottom: 10px;}
.tryment_popup_body ul li{width:100%;list-style: none;font-size: 17px;font-weight:500;padding-bottom: 5px;}
.tryment_popup_body ul li .child1{width:50%;float: left;text-align: left;color: #154468;}
.tryment_popup_body ul li .child2{width:50%;float: right;text-align: right;color: #757779;}

/*AGENT*/

.agent_collapse{position: relative;top: 4px;}
.tryment_branch_details li{margin-bottom: 5px !important;}
.tryment_business_listing ul li .selected{width:30px;height:30px;position: relative; top: 10px;}
.tryment_list_details h6 span{color: #17629b;margin-right: 10px;}
.tryment_sign_form p{margin: 0px;color: #17629b;padding-bottom: 10px;  font-weight: 500;font-size: 15px;}
.tryment_sign_form p strong{font-size: 18px;}

/*MARK-SALARY-TAB*/

.tryment_salary_tab{width:100%;height: 100%;}
.tryment_salary_tab ul{width:100%;padding:0px;height:100%;}
.tryment_salary_tab ul li{float: left;width:33.3%;list-style: none;text-align: center;color: #fff;height:100%;}
.tryment_salary_tab ul .active{background: #25aae1 !important;border-radius:20px;}
.tryment_salary_tab ul li span img{width:50px;position: relative;top:19px;}
.tryment_salary_tab ul li span{position: relative;font-size: 17px;bottom:25px;}
.tryment_salary_tab ul li .menu{position: relative;left: -8px;}

/*SALARY-FILTER*/

.tryment_salary_filter{width:100%;height:100%;position: relative;}
.tryment_salary_filter_body{position: absolute;bottom: 0px;left:0px;right:0px;background: #ffffff;padding:20px;}

/*NOTIFICATION*/

.tryment_notification{width:100%;}
.tryment_notification ul{width:100%;padding:10px;margin:0px;}
.tryment_notification ul li{list-style: none;position:relative;padding: 10px;list-style: none;width: 100%;background-color: #f3f3f3 !important;margin-bottom:5px;border-right: 4px solid #e1e1e1;}
.tryment_notification ul li h5{margin:0px;color: #154468;font-size: 14px;padding-bottom:5px;width:80%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_notification ul li p{margin:0px;color: #666666;font-size: 12px;width:80%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tryment_notification_close{position: absolute;top:2px;right:0px;}
.tryment_notification_close img{width: 45px;}

/*SIDEMENU*/

.tryment_sidemenu_wrapper{width:100%;height:100%;border-left:3px solid #165b93;padding-left: 20px;}
.tryment_sidemenu_top{width:100%;padding-top: 50px;padding-left: 20px;}
.tryment_sidemenu_top h5{margin:0px;color: #5f5f5f;font-weight: 400;padding-top: 20px;padding-bottom:0px;}
.tryment_sidemenu_top p{margin:0px;color: #888888;}
.tryment_profile_pic{width:100px;height:100px;background-color:#165b93 !important;border-radius:50%;background: url("../assets/img/prof.png");background-repeat: no-repeat !important;background-position: center !important;background-size: 40px !important;}
.tryment_profile_pic img{width:100%;height:100%;border-radius:50%;}
.tryment_sidemenu_list{width:100%;padding-top: 15px;}
.tryment_sidemenu_list ul{width:100%;padding:0px;}
.tryment_sidemenu_list ul li{width: 170px;list-style: none;color: #5f5f5f;font-size: 15px;background: url("../assets/img/forward.png");background-position:right;background-repeat: no-repeat;padding: 10px;background-size: 35px;}
.tryment_sidemenu_list ul li:focus{background:#ececec;border-radius:20px;}
.tryment_location{background: url(../assets/img/location.png) !important;background-repeat: no-repeat !important;    background-position: right -6px top 21px !important;background-size: 45px !important;}

/*TRYMENT-MAP*/

.tryment_map{width:100%;height:100%;}
.tryment_location_button_bay{position: fixed;bottom: 0px;left:0px;right:0px;}
#map{height:100%;width:100%;   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter: gray; -webkit-filter: grayscale(99%);-webkit-backface-visibility: hidden; }

/*COLLECTIONS*/

.tryment_collection_details{width:100%;margin-top:5px;background: #ededed;}
.tryment_collection_head{width:100%;height:35px;}
.tryment_collection_head li{width:33.3%;height:100%;float: left;text-align: center;color: #4b4a4a;margin:0px !important;font-size: 16px;padding: 6px;}
.td_dark{background: #d4d4d4 !important;}
.tryment_collection_data{text-align: center;color: #767677;font-weight: 400;padding: 5px;}
.tryment_collection_input{background: #fff;width:100%;height:30px;border-radius:20px;padding-left:15px;border:none;color: #a5a5a5;font-weight: 300;}
.tryment_collection_data span img{width:40px;}


/*ORGANIZATION_CHART*/

.tryment_chart_wrap{height:100%;overflow: scroll; padding: 10px;}
.tryment_chart_wrap ul{}
.tryment_chart_wrap ul li{width:100%; list-style: none;}
.tryment_chart_wrap ul li .circle .true{}
.tryment_chart_wrap ul li .circle .false{display: none;}
.tryment_chart_wrap ul .active .circle .false{display:block !important;}
.tryment_chart_wrap ul .active .circle .true{display:none !important;}
.tryment_chart_wrap .scroll-x{height: 100%;}
.trymentchart_business{}
.trymentchart_branch{}
.trymentchart_line{}
.trymentchart_business span{}


.tryment_tree {}
.tryment_tree ul{}
.trymentchart_parent{margin-bottom:25px;}
.tryment_tree li {list-style-type:none;margin:0;padding:10px 5px 0 5px;position:relative}
.tryment_tree li::before, .tryment_tree li::after {content:'';left:-20px;position:absolute;right:auto}
.tryment_tree li::before {height:100%;  top:0;width:1px}
.tryment_tree li::after {height:20px;top:25px;width:25px}
.tryment_tree li span {}
.tryment_tree li.parent_li>span {cursor:pointer}
.tryment_tree>ul>li::before, .tryment_tree>ul>li::after {border:0}
.tryment_tree li:last-child::before {height:30px}
.tryment_tree li.parent_li>span:hover, .tryment_tree li.parent_li>span:hover+ul li span {background:#eee;border:1px solid #94a0b4;color:#000}
.trymentchart_parent{padding-left:0px;margin:0px;}
.trymentchart_parent li .circle{width:25px;height:25px;border-radius:50%;float: left;text-align: center;position: relative;top: 5px;}
.trymentchart_parent li .bar{width:220px;border-radius:20px;float: left;height:35px;position: relative;padding:7px;padding-left: 20px;margin-left: 15px;color: #fff;font-size: 16px;font-weight: 300;}
.trymentchart_parent li .circle span{font-size: 18px;}
.trymentchart_parent li::before{ border-left: 1px solid #17629b; top: -5px;bottom: 50px;height: 100%;width: 1px;}
.trymentchart_parent li::after{border-top: 1px solid #17629b;}
.tryment_more_filter{position: absolute;right:5px;top:0px;height:35px;width:35px;background: url("../assets/img/dot.png");background-position: center;background-size:45px;}

.trymentchart_child1{position: relative;right: 8px;}
.trymentchart_child2{position: relative;right: 8px;}

.trymentchart_business{position: relative;left:8px;}
.trymentchart_business .circle{border:1px solid #17629b;color: #17629b;}
.trymentchart_business .bar{background: #17629b;}

.trymentchart_branch{position: relative;left:0px;}
.trymentchart_branch .circle{border:1px solid #2b88cf;color: #2b88cf;}
.trymentchart_branch .bar{background: #2b88cf;}

.trymentchart_line{position: relative;left:0px;}
.trymentchart_line .circle{border:1px solid #34bcf4;color: #34bcf4;}
.trymentchart_line .bar{background: #34bcf4;}

.trymentchart_parent .collapse{display:none;}
.trymentchart_parent .expand{display:block;}
.trymentchart_parent .active .collapse{display: block;}
.trymentchart_parent .active .expand{display:none;}
.tryment_check span{float: left;position: relative;top: -10px;}
.tryment_check span img{width:40px;}
