<ion-content>
  <div class="tryment_popover_div">
    <ul>
      <li (click)="closepopup()">Close Loan</li>
      <li (click)="defaultpopup()">Default</li>
      <li (click)="settlepopup()">Settlement</li>
      <li (click)="transferpopup()">Transfer</li>
      <li (click)="goBack()">New Loan</li>
      <li (click)="goBack()">Payment Gateway</li>
    </ul>
  </div>
</ion-content>
