<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="dismiss()"></button>
    <div class="nav_header_title floatLeft">
      Notification
    </div>
    <button ion-button class="nav_btn nav_filter floatRight" (click)="notificationfilter()">
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content  class="theme_background">
  <div class="tryment_notification">
    <ul>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
      <li>
        <h5>8 Days to go</h5>
        <p>8 Minutes</p>
        <div class="tryment_notification_close">
          <img src="assets/img/close_blue.png">
        </div>
      </li>
    </ul>
  </div>
</ion-content>
