<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      Requestform
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_sign_form">
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="Needed Amount">
    </div>
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="Needs Before">
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Loan Type</option>
      </select>
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Gold in Grams</option>
      </select>
    </div>
    <div class="tryment_row">
      <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
         <ion-datetime placeholder="Date of Birth"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
       </ion-item>
    </div>
    <div class="tryment_row">
        <textarea class ="tryment_sign_input" style="height: 120px !important;" placeholder="Comment" rows="4">
        </textarea>
    </div>
    <div class="tryment_row">
    <ion-grid class="p0">
      <ion-row class="p0">
        <ion-col col-10 class="p0">
          <input class ="tryment_sign_input" placeholder="Audio Record">
        </ion-col>
        <ion-col col-2 class="p0">
          <div class="tryment_add_btn"><span>+</span></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

    <div class="tryment_row">
    <ion-row class="p0">
      <ion-col col-12><button ion-button class="tryment_daily_btn" (click)="loanrequest()"><span><img src="assets/img/send.png"></span><span>Send a Request</span></button></ion-col>
    </ion-row>
    </div>
  </div>

</ion-content>
