<ion-menu [content]="content">
  <ion-content>
    <div class="tryment_sidemenu_wrapper">
      <div menuClose class="tryment_sidemenu_top" (click)="myprofile()">
        <div class="tryment_profile_pic">
        </div>
        <h5>Ann Alex</h5>
        <p>alexiann@gmail.com</p>
      </div>
      <div class="tryment_sidemenu_list">
        <ul>
          <li menuClose (click)="home()">Home</li>
          <li menuClose (click)="notification()">Notification</li>
          <li menuClose (click)="newloan()">New Loan</li>
          <li menuClose (click)="myloan()">My Loan</li>
          <li menuClose (click)="report()">Report</li>
          <li menuClose (click)="settings()">Settings</li>
          <li menuClose (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
