<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      Add Expenses
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <div class="tryment_sign_form">
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Select Business</option>
      </select>
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Select Branch</option>
      </select>
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Select line</option>
      </select>
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Expense Type</option>
      </select>
    </div>
    <div class="tryment_row">
      <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
         <ion-datetime placeholder="Date"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
       </ion-item>
    </div>
    <div class="tryment_row">
      <input class ="tryment_sign_input" placeholder="Amount">
    </div>
    <div class="tryment_row">
      <input class ="tryment_sign_input tryment_file" placeholder="Attachment">
    </div>
    <div class="tryment_row">
        <textarea class ="tryment_sign_input" style="height: 120px !important;" placeholder="Note" rows="4">
        </textarea>
    </div>
    <div class="tryment_row">
      <select class ="tryment_sign_input tryment_select_drop">
        <option>Status</option>
      </select>
    </div>
    <div class="tryment_row">
    <ion-row class="p0">
      <ion-col col-12><button ion-button class="tryment_daily_btn"><span><img src="assets/img/done.png"></span><span>Submit</span></button></ion-col>
    </ion-row>
    </div>
  </div>

</ion-content>
