<ion-content padding class="theme_background">
  <div class="tryment_sign_wrap">
    <div class="tryment_login_center">
    <div class="tryment_reg_banner">
      <img src="assets/img/register.png">
      <h3>Forgot Password</h3>
      <p>Please enter your Aadhar<br> number</p>
    </div>
    <div class="tryment_sign_form">
      <div class="tryment_row">
        <input class ="tryment_sign_input textCenter tryment_aadhar" placeholder="Aadhar Number">
      </div>
      <div class="tryment_row">
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Pin</strong>
        </div>
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Password</strong>
        </div>
        <div class="clear"></div>
      </div>
      <div class="tryment_row">
        <button ion-button class="tryment_register_button" (click)="login()">Reset</button>
      </div>
    </div>
  </div>
  </div>
</ion-content>
<ion-footer>
  <div class="tryment_row textCenter">
    <div class="tryment_check">
      <p>Back to<strong class="textThemedblue" (click)="login()">&nbsp;Login</strong></p>
    </div>
  </div>
</ion-footer>
