<ion-content>
  <div class="tryment_popover_div">
    <ul>
      <li (click)="daily()">Daily</li>
      <li (click)="weekly()">Weekly</li>
      <li (click)="monthly()">Monthly</li>
      <li (click)="gold()">Gold</li>
      <li (click)="adjustment()">Adjustments</li>
    </ul>
  </div>
</ion-content>
