<ion-content  class="tryment_popup_bg">
  <div class="tryment_popup_wrapper">
    <div class="tryment_popup_body">
      <h4>Deny</h4>
      <textarea class="tryment_popup_textarea" placeholder="Reason" rows="3">
      </textarea>
      <div class="tryment_popup_btn_bay">
        <ion-row class="p0">
          <ion-col col-6><button ion-button class="tryment_delete_btn width100" (click)="dismiss()">Cancel</button></ion-col>
          <ion-col col-6><button ion-button class="tryment_line_btn width100" (click)="dismiss()">Proceed</button></ion-col>
        </ion-row>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</ion-content>
