<ion-content  class="tryment_popup_bg">
  <div class="tryment_salary_filter" (click)="dismiss()">
    <div class="tryment_salary_filter_body">
      <div class="tryment_sign_form">
      <div class="tryment_row">
        <select class ="tryment_sign_input tryment_select_drop">
          <option>All Type</option>
        </select>
      </div>
      <div class="tryment_row">
        <select class ="tryment_sign_input tryment_select_drop">
          <option>All line</option>
        </select>
      </div>
      <div class="tryment_row">
        <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
           <ion-datetime placeholder="Date of Birth"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
         </ion-item>
      </div>
    </div>
    </div>
  </div>
</ion-content>
