<ion-content padding class="theme_background">
  <div class="tryment_sign_wrap">
    <div class="tryment_reg_banner">
      <img src="assets/img/register.png">
      <h3>Registration</h3>
      <p>Please enter details below</p>
    </div>
    <div class="tryment_sign_form">
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Aadhar Number">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="PAN Number">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="First Name">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Last Name">
      </div>
      <div class="tryment_row">
        <ion-item class="tryment_sign_input tryment_calender" style="padding-left:0px;" >
           <ion-datetime placeholder="Date of Birth"  displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
         </ion-item>
      </div>
      <div class="tryment_row">
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Male</strong>
        </div>
        <div class="tryment_gender">
          <ion-radio ng-model="choice" ng-value="'A'"></ion-radio><strong>Female</strong>
        </div>
        <div class="clear"></div>
      </div>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input" placeholder="Mobile number">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span>+</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
      <ion-grid class="p0">
        <ion-row class="p0">
          <ion-col col-10 class="p0">
            <input class ="tryment_sign_input" placeholder="Email">
          </ion-col>
          <ion-col col-2 class="p0">
            <div class="tryment_add_btn"><span>+</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="User Name">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Password">
      </div>
      <div class="tryment_row">
        <input class ="tryment_sign_input" placeholder="Confirm Password">
      </div>
      <div class="tryment_row">
        <div class="tryment_check">
        <input class="tryment_checkbox" id="tryment_label" type="checkbox" value="value2" checked>
        <label for="tryment_label"></label>
        <p>I Agree to the Terms & Conditions and
          Privacy Policy</p>
          <div class="clear"></div>
        </div>
      </div>
      <div class="tryment_row">
        <button ion-button class="tryment_register_button" (click)="login()">Register</button>
      </div>
    </div>
  </div>
</ion-content>
