<ion-content  class="tryment_popup_bg">
  <div class="tryment_popup_wrapper">
    <div class="tryment_popup_body">
      <h4>Defaulter</h4>
      <p>Are you sure to move this user as default? </p>
      <div class="tryment_popup_btn_bay">
        <ion-row class="p0">
          <ion-col col-6><button ion-button class="tryment_delete_btn width100" (click)="dismiss()">Cancel</button></ion-col>
          <ion-col col-6><button ion-button class="tryment_line_btn width100" (click)="dismiss()">Yes</button></ion-col>
        </ion-row>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</ion-content>
