<ion-content  class="tryment_popup_bg">
  <div class="tryment_salary_filter" (click)="dismiss()">
    <div class="tryment_salary_filter_body">
      <div class="tryment_sign_form p0">
        <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6 class="p0">
              <div class="tryment_check">
              <input class="tryment_checkbox" id="tryment_label1" type="checkbox" value="value2">
              <label for="tryment_label"></label>
              <p>Loan Request</p>
                <div class="clear"></div>
              </div>
            </ion-col>
            <ion-col col-6 class="p0">
              <div class="tryment_check">
              <input class="tryment_checkbox" id="tryment_label2" type="checkbox" value="value2">
              <label for="tryment_label2"></label>
              <p>Loan Dues</p>
                <div class="clear"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
        <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6 class="p0">
              <div class="tryment_check">
              <input class="tryment_checkbox" id="tryment_label3" type="checkbox" value="value2">
              <label for="tryment_label3"></label>
              <p>Loan Approval</p>
                <div class="clear"></div>
              </div>
            </ion-col>
            <ion-col col-6 class="p0">
              <div class="tryment_check">
              <input class="tryment_checkbox" id="tryment_label4" type="checkbox" value="value2">
              <label for="tryment_label4"></label>
              <p>New Agent</p>
                <div class="clear"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
        <div class="tryment_row">
        <ion-grid class="p0">
          <ion-row class="p0">
            <ion-col col-6 class="p0">
              <div class="tryment_check">
              <input class="tryment_checkbox" id="tryment_label5" type="checkbox" value="value2">
              <label for="tryment_label5"></label>
              <p>New Partner</p>
                <div class="clear"></div>
              </div>
            </ion-col>
            <ion-col col-6 class="p0">
              <div class="tryment_check">
              <input class="tryment_checkbox" id="tryment_label6" type="checkbox" value="value2">
              <label for="tryment_label6"></label>
              <p>New Owner</p>
                <div class="clear"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
    </div>
    </div>
  </div>
</ion-content>
